<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

	<bean id="aBean"
		class="cn.pattern.demo.springioc.ABean">
		<property name="bBean" ref="bBean" />
	</bean>
	<bean id="bBean" class="cn.pattern.demo.springioc.BBean" >
		<property name="name" value="haannja" />
	</bean>
</beans>